// Rename this to config.conf with your settings.

exports.mode = 'LDEV';
exports.port = 8080;
exports.static = './static';
exports.templates = './views';
exports.controllers = './controllers';

exports.mongodb = 'dbname';
