{{ title = 'BookKeeper Web - Your little finance tracker.' }}
{{ header = partial('indexHeader.html') }}

<div class="content">
	
	<div class="accounts">
		<div class="add-button">
			New Transaction
		</div>
		<div class="past box">
			<div class="account-header">
				<div class="title">Account</div>
				<a class="add-account">+</a>
			</div>
			<div class="account">
				<div class="account-name">Chequing</div>
				<div class="account-amount">$100</div>
			</div>
		</div>
		<div class="future box">
			<div class="account-header">
				<div class="title">Future</div>
			</div>
			<div class="account">
				<div class="account-name">Chequing</div>
				<div class="account-amount">$100</div>
			</div>
		</div>
	</div>
	
	<div class="transaction-table">
		<div class="column-head">
			<div class="amount">Amount</div>
			<div class="date">Date</div>
			<div class="origin">Origin</div>
			<div class="account">Account</div>
		</div>

		<div class="new-transaction">
			Hello, this is a new transaction window!
			<form class="new-transaction-form">
				<label>
					<span class="text">Amount</span>
					<input type="text" class="amount-input" />
				</label>
			</form>
		</div>
		
		<div class="transactions">
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
			<div class="transaction">
				<div class="amount">$100</div>
				<div class="date">Aug 16, 2011</div>
				<div class="origin">For no reason at all</div>
				<div class="account">Savings</div>
			</div>
		</div>
	</div>

</div>

<script>
$(function () {
	
	$(".add-button").click(function () {
		$(".new-transaction").animate({ top: 24 }, 200);
	});

});
</script>